services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: breakthevibe
      POSTGRES_PASSWORD: breakthevibe
      POSTGRES_DB: breakthevibe
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
